
<div class="container-fluid no-pad-sides">
  <div class="takers-header-bg">
    <div class="container takers-header">
      <div class="row "><br>
          <div class="col-md-3 marg-right">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-circle img-custom-taker" alt="">
          </div>
          <div class="col-md-9" style="padding-left:40px;">
            <div class="row">
              <div class="col-md-6">
                <h3><%= takers.slogan %></h3>
                <h4><%= takers.name %></h4>
                <p><%= takers.address%></p>


              </div>
              <div class="col-md-5">
                <h3><%= takers.price %>€ /hour</h3>
                <h3><%= takers.status %></h3>


              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Services&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img-responsive img-logo-taker" src="images/dogwalk.png" title="pet walk" alt="pet walk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img-responsive img-logo-taker" src="images/house.png" title="go to your place" alt="go to your place">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img-responsive img-logo-taker" src="images/homeoffer.png" title="offer his place" alt="offer his place">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img-responsive img-logo-taker" src="images/dogtrain.png" title="pet training" alt="pet training">
              </h4>
              </div>
            </div>
          </div>

      </div>
    </div>
    <br>
  </div>
</div>
<hr>

<div class="takers-container-custom">
<br>
  <div class="row">
    <div class="col-md-7" style="padding-right:40px;">
      <img src="images/mandog.jpg" class ="img-responsive img-pet-taker-custom" alt="">
    <div class="about">
      <h3>About <%= takers.name %>: </h3>
      <p class="text-justify"><%= takers.description%></p>
      <h3>Personal information: </h3>
      <p>Address: <%= takers.address%></p>
      <p>Phone number: <%= takers.phoneNumber%></p>
      <p>Email: <%= takers.email%></p>
    </div>
    <hr>
    <div class="reviews">
      <h3>3 Reviews:</h3>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-5 form-group book-taker-box">
      <form action="/booking" method="post">
      <div class="form-group">
        <h3 class="text-center">Book <%= takers.name %> now</h3><br>
      </div>
      <h4>Set dates for a full day booking:</h4><br>

      <div class="form-group form-inline">
        <label for="daeInput">From</label>
      <input class="form-control form-taker" type="date" name="datefrom" placeholder="from">
      <label for="datteInput">To</label>
      <input class="form-control form-taker" type="date" name="dateto" placeholder="to">
      </div>
<br>
      <h4>Set time range:</h4><br>

      <div class="form-group form-inline">
        <label for="timeInput">From</label>
        <input class="form-control form-taker" type="time" name="starttime">
        <label for="timeInput">To</label>
        <input class="form-control form-taker" type="time" name="endtime">
      </div>
      <br>

      <div class="form-group">
        <h4>Type of service:</h4><br>

      <!-- <input  list="roles"> -->
      <select class="form-control" name="service" id="service">
        <option value="Walk your pet">Walk your pet </option>
        <option value="Stay on your place with your pet">Stay on your place with your pet </option>
        <option value="Go to his place with your pet">Go to his place with your pet </option>
        <option value="Pet training">Pet training </option>
      </select>
    </div><br>
      <div class="form-group">
        <h4>Additional comments:</h4><br>
        <textarea class="form-control" style="height:100px;" type="text" name="comment" placeholder="comment"></textarea>
      </div><br>
      <input type="hidden" name="takerid" value="<%= takers._id %>">
      <button type="submit" class="btn btn-success btn-block">Book now</button><br>
      </form>
    </div>
  </div>
</div>
<br><br>



<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
