
<div class="container takers-container-custom">
  <div class="takers-header-bg">
    <div class="container takers-header">
      <div class="row "><br>
          <div class="col-md-4">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-custom" alt="">
          </div>
          <div class="col-md-8">
            <h3><%= takers.name %><span style="float:right"><%= takers.price %>€ /hour</span></h3>
            <h4><%= takers.slogan %></h4>
            <p><%= takers.address%></p>
            <h5>Average of 4,5 in 26 evaluations</h5>
            <h4>Availability: <%= takers.status %></h4>

          </div>
      </div>
    </div>
    <br>
  </div>
<hr>
<br>
  <div class="row">
    <div class="col-md-8">
      <img src="http://slodive.com/wp-content/uploads/2012/11/funny-pug-pictures/makingface.jpg" class ="img-responsive img-pet-taker-custom" alt="">
    <div class="about">
      <h3>About <%= takers.name %>: </h3>
      <p class="text-justify"><%= takers.description%></p>
      <h3>Personal information: </h3>
      <p>Address: <%= takers.address%></p>
      <p>Phone number: <%= takers.phoneNumber%></p>
      <p>Email: <%= takers.email%></p>
    </div>
    <hr>
    <div class="reviews">
      <h3>3 Reviews:</h3>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-reviewer-custom" alt="">
          <h5>Alexandre</h5>
        </div>
        <div class="col-md-10">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, nostrum. Ducimus nulla reprehenderit ipsam fugiat tempora dolorum eaque. Dolorum voluptatum, doloribus amet eligendi animi optio distinctio. Commodi consequatur voluptatibus, dolores.</p>
          <h5>on 01/01/2017</h5>
          <h5>Alex give her 5 stars</h5>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4 form-group book-taker-box">
      <form action="/booking" method="post">
      <div class="form-group">
        <h3 class="text-center">Book <%= takers.name %> now</h3>
      </div>
      <div class="form-group">
        <label for="daeInput">Start Date</label>
      <input class="form-control" type="date" name="datefrom">
      </div>
      <div class="form-group">
        <label for="datteInput">End Date</label>
        <input class="form-control" type="date" name="dateto" value="">
      </div>
      <div class="form-group">
        <label for="timeInput">Start Time</label>
        <input class="form-control" type="time" name="starttime">
      </div>
      <div class="form-group">
        <label for="timeInput">End Time</label>
        <input class="form-control" type="time" name="endtime">
      </div>
      <div class="form-group">
      <label for="serviceInput">Type of service</label>
      <!-- <input  list="roles"> -->
      <select class="form-control" name="service" id="service">
        <option value="Walk your pet">Walk your pet </option>
        <option value="Stay on your place with your pet">Stay on your place with your pet </option>
        <option value="Go to his place with your pet">Go to his place with your pet </option>
        <option value="Pet training">Pet training </option>
      </select>
      </div>
      <div class="form-group">
        <label for="aboutInput">Additional comments</label>
        <textarea class="form-control" type="text" name="comment" placeholder="comment"></textarea>
      </div>
      <input type="hidden" name="takerid" value="<%= takers._id %>">
      <button type="submit" class="btn btn-success btn-block">Book now</button>
      </form>
    </div>
  </div>
</div>
<br><br>

<a href="/search">&lArr; Go back to the map view</a>


<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
