<h1>Here is the Map with all users around you!</h1>
<div id="floating-panel">
  <input id="pac-input" name="name" class="controls" type="text" placeholder="Search Box">
</div>
<div class="row">
  <div  style="background-color:lightgrey;" class="col-md-5">
    <div id="map"></div>
  </div>
  <div class="col-md-7">

    <h2> We have found <%= takers.length %> pet takers around you</h2>
<br>


  <div class="container-fluid">
      <div class="row">
        <% console.log(takers);
        takers.forEach((taker) => {
        if(taker.role === "PETTAKER"){
           %>
        <div class="div col-xs-6">
          <div class="row">
            <div class="col-md-4">
              <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-thumbnail img-taker-custom" alt="">
            </div>
            <div class="col-md-8">
              <h3><%= taker.name %><span style="float:right"><%= taker.price %>€ /hour</span></h3>
              <h4><%= taker.slogan %></h4>
              <p><%= taker.address.zipCode %>, <%= taker.address.city %></p>
              <h5>Average of 4,5 in 26 evaluations</h5>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12"><br>
              <button class="btn btn-success"><a href="/users/<%= taker._id %>">
      Contact</a></button>
            </div>
          </div>
          <hr>
        </div>

        <%  }}) %>


      </div>

  </div>
</div>

  </div>
</div>
