<div class="container-fluid nopadleft">
<br><br><br>

<div class="row"></div>
<br>
  <div class="col-md-5 map-view" style="padding:0!important;">


    <div id="map" style="position:absolute; height:100%; padding:0; margin:0;"></div>

  </div>

  <!-- MAP ENDS -->


  <!-- USERS START -->

  <div class="col-md-7 scrolling-custom">
    <div id="floating-panel" class="form-inline">

      <input id="pac-input" name="name" class="form-control searchTextField input-lg-custom" type="text" placeholder="Where do you want to search?">
  &nbsp;&nbsp;&nbsp;
      <label for="latInput">from: </label>
      <input id="from" type="date" class="form-control" placeholder="from" name="from">&nbsp;&nbsp;&nbsp;
      <label for="latInput">to: </label>
      <input id="to" type="date" class="form-control" placeholder="to" name="to">
      <input id="lat" type="hidden" class="form-control" placeholder="Full address" name="lat">

      <input id="long" type="hidden" class="form-control" placeholder="Full address" name="long">

  &nbsp;&nbsp;&nbsp;
      <button id="goSearch" class="btn btn-success"><a href="/search" style="text-decoration:none; color:white;">Check the map!</a></button>
  <br>
  <hr>
    </div>
    <h2> We have found <%= takers.length %> pet takers around you</h2>
<br>


  <div class="container-fluid">
      <div class="row">
        <%
        takers.forEach((taker) => {
        if(taker.role === "PETTAKER"){
           %>
        <div class="div col-xs-6">
          <div class="row">
            <div class="col-md-4">
              <img src="https://s-media-cache-ak0.pinimg.com/564x/dd/49/dd/dd49dd83e894321a9402465c98ebc386.jpg" class ="img-responsive img-circle img-taker-custom" alt="">
            </div>
            <div class="col-md-8">
              <h3><%= taker.name %><span style="float:right"><%= taker.price %>€ /hour</span></h3>
              <h4><%= taker.slogan %></h4>
              <h5>Average of 4,5 in 26 evaluations</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><br>
              <button  class="btn btn-success"><a href="/users/<%= taker._id %>" style="text-decoration:none; color:white;">
      Contact</a></button>
            </div>
          </div>
          <hr>
        </div>
        <%  }}) %>


      </div>

  </div>
</div>

<!-- USERS ENDS -->

  </div>
</div>

<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
  var loc = (<%- JSON.stringify(location)%>)
</script>

<script type="text/javascript" src="javascripts/controlinput.js"></script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDimRakPJ6OfHh5LOOD0wxRxomF_ocMTk&libraries=places&callback=initAutocomplete"async defer></script>
<script type="text/javascript" src="javascripts/map.js"></script>
